################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Лаба 3/Лаба 3/x64/Debug/1.obj
/.vs
/Лаба 3/.vs/Лаба 3
/Лаба 3/Лаба 3/x64/Debug/Лаба 3.tlog
/Лаба 3/Лаба 3/x64/Debug/2.obj
/Лаба 3/Лаба 3/x64/Debug/Source.obj
/Лаба 3/x64/Debug/Лаба 3.tlog
/Лаба 3/x64/Debug
/Лаба 3/Лаба 3/x64/Debug/source.obj.enc
/Лаба 3/Лаба 3/x64/Debug/Лаба 3.log
/x64/Debug
/Лаба 3/Лаба 3/x64/Debug
